body {
  background-color: white;
  font-family: sans-serif;
}

.info-card {
  width: 20%;
  border: 1px solid #262626;
  margin-bottom: 10px;
  .title {
    background: #e3c463;
    color: #262626;
    padding: 5px 10px;
  }
  .field-group {
    padding: 5px 10px;
  } 
}   
