<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>T&eacute;rminos y Condiciones de CYTIO</title>
    <meta name="description" content="Cytio - Términos y Condiciones de CYTIO">
    <style type="text/css">
        .lst-kix_huy2dwp8p8vn-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_huy2dwp8p8vn-1>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_huy2dwp8p8vn-8 {
            list-style-type: none
        }

        .lst-kix_huy2dwp8p8vn-2>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_huy2dwp8p8vn-1 {
            list-style-type: none
        }

        ul.lst-kix_huy2dwp8p8vn-0 {
            list-style-type: none
        }

        .lst-kix_huy2dwp8p8vn-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_huy2dwp8p8vn-5>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_huy2dwp8p8vn-3 {
            list-style-type: none
        }

        ul.lst-kix_huy2dwp8p8vn-2 {
            list-style-type: none
        }

        ul.lst-kix_huy2dwp8p8vn-5 {
            list-style-type: none
        }

        .lst-kix_huy2dwp8p8vn-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_huy2dwp8p8vn-4 {
            list-style-type: none
        }

        ul.lst-kix_huy2dwp8p8vn-7 {
            list-style-type: none
        }

        ul.lst-kix_huy2dwp8p8vn-6 {
            list-style-type: none
        }

        .lst-kix_1zs6cith1gxi-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_1zs6cith1gxi-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_1zs6cith1gxi-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_1zs6cith1gxi-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_1zs6cith1gxi-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_5m5wkevz8fh2-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_5m5wkevz8fh2-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_1zs6cith1gxi-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_5m5wkevz8fh2-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_5m5wkevz8fh2-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_1zs6cith1gxi-0>li:before {
            content: "  "
        }

        .lst-kix_1zs6cith1gxi-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_5m5wkevz8fh2-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_5m5wkevz8fh2-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_5m5wkevz8fh2-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_5m5wkevz8fh2-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_5m5wkevz8fh2-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_1zs6cith1gxi-8>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_5m5wkevz8fh2-5 {
            list-style-type: none
        }

        ul.lst-kix_1zs6cith1gxi-5 {
            list-style-type: none
        }

        ul.lst-kix_5m5wkevz8fh2-6 {
            list-style-type: none
        }

        ul.lst-kix_1zs6cith1gxi-4 {
            list-style-type: none
        }

        ul.lst-kix_5m5wkevz8fh2-7 {
            list-style-type: none
        }

        ul.lst-kix_1zs6cith1gxi-7 {
            list-style-type: none
        }

        ul.lst-kix_5m5wkevz8fh2-8 {
            list-style-type: none
        }

        ul.lst-kix_1zs6cith1gxi-6 {
            list-style-type: none
        }

        ul.lst-kix_5m5wkevz8fh2-1 {
            list-style-type: none
        }

        ul.lst-kix_5m5wkevz8fh2-2 {
            list-style-type: none
        }

        ul.lst-kix_1zs6cith1gxi-8 {
            list-style-type: none
        }

        ul.lst-kix_5m5wkevz8fh2-3 {
            list-style-type: none
        }

        ul.lst-kix_5m5wkevz8fh2-4 {
            list-style-type: none
        }

        .lst-kix_huy2dwp8p8vn-8>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_5m5wkevz8fh2-0 {
            list-style-type: none
        }

        ul.lst-kix_1zs6cith1gxi-1 {
            list-style-type: none
        }

        ul.lst-kix_1zs6cith1gxi-0 {
            list-style-type: none
        }

        .lst-kix_huy2dwp8p8vn-6>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_1zs6cith1gxi-3 {
            list-style-type: none
        }

        ul.lst-kix_1zs6cith1gxi-2 {
            list-style-type: none
        }

        .lst-kix_huy2dwp8p8vn-7>li:before {
            content: "\0025cb  "
        }

        ol {
            margin: 0;
            padding: 0;
        }

        table td,
        table th {
            padding: 0;
        }

        .c4 {
            margin-left: 108pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        .c16 {
            margin-left: 36pt;
            padding-top: 10pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        .c8 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13pt;
            font-family: "Arial";
            font-style: normal;
        }

        .c5 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal;
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13pt;
            font-family: "Arial";
            font-style: normal;
        }

        .c9 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 17pt;
            font-family: "Arial";
            font-style: normal;
        }

        .c2 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal;
        }

        .c6 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        .c18 {
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        .c15 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center;
        }

        .c7 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        .c14 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-family: "Arial";
            font-style: normal;
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        .c19 {
            background-color: #ffffff;
            max-width: 568pt;
            padding: 72pt 5pt 72pt 5pt;
            display: inline-block;
        }

        .c12 {
            margin-left: 72pt;
            padding-left: 0pt;
        }

        .c0 {
            padding: 0;
            margin: 0
        }

        .c13 {
            font-size: 13pt
        }

        .c17 {
            font-weight: 700
        }

        .c10 {
            height: 11pt
        }

        .c20 {
            font-style: italic
        }

        .c11 {
            font-size: 12pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        body {
            text-align: center;
        }
        .logo {
            text-align: center;
            padding-bottom: 50px;
        }
        .logo img {
            width: 200px;
        }
    </style>
</head>

<body>
    <div class="c19">
        <div class="logo">
            <img src="/images/logo1.png" />
        </div>
        <p class="c15">
            <span class="c9">T&eacute;rminos y Condiciones de CYTIO</span>
        </p>
        <p class="c10 c15">
            <span class="c9"></span>
        </p>
        <p class="c1">
            <span class="c2">Glosario</span>
        </p>
        <p class="c1">
            <span class="c2">Usuario: Cualquier persona que descargue alguna de las aplicaciones de CYTIO o acceda al sitio web.</span>
        </p>
        <p class="c1">
            <span class="c2">Chofer: Aquellos usuarios registrados en la aplicaci&oacute;n de Cytio Taxista que cumplan con la documentaci&oacute;n
                requerida.</span>
        </p>
        <p class="c1 c10">
            <span class="c2"></span>
        </p>
        <p class="c6">
            <span class="c2">Las presentes condiciones (&quot;Condiciones de Uso&quot;) regulan el uso del sitio web en http://cytio.com.mx/ y
                la aplicaci&oacute;n CYTIO del usuario y CYTIO Taxista, as&iacute; como a toda la informaci&oacute;n, recomendaciones
                o servicios prestados a trav&eacute;s de la p&aacute;gina web y aplicaciones m&oacute;viles.</span>
        </p>
        <p class="c6 c10">
            <span class="c2"></span>
        </p>
        <p class="c6">
            <span class="c2">Te pedimos que leas atentamente las siguientes condiciones antes de aceptarlas, si no est&aacute;s de acuerdo con
                alguna de ellas por favor no utilices el sitio web ni ninguna de las aplicaciones de CYTIO. Una vez registrado,
                por ende aceptado las condiciones, usted se compromete a cumplir con todos sus t&eacute;rminos y condiciones.
                De igual manera, el usuario reconoce y acepta que el acceso y uso de esta aplicaci&oacute;n y/o sitio web estar&aacute;
                sujeto a las Condiciones de Uso que se encuentren en vigor en el momento en que acceda a la misma. </span>
        </p>
        <p class="c7 c10">
            <span class="c8"></span>
        </p>
        <p class="c6">
            <span class="c2">Asimismo, la utilizaci&oacute;n de la p&aacute;gina web, la aplicaci&oacute;n del usuario y la aplicaci&oacute;n
                del taxista &nbsp;implica la aceptaci&oacute;n plena y sin reservas a todas y cada una de las disposiciones incluidas
                en este acuerdo, por lo que si usted no est&aacute; de acuerdo con cualquiera de las condiciones aqu&iacute;
                establecidas, no deber&aacute; usar ni acceder a la p&aacute;gina web ni a las aplicaciones. </span>
        </p>
        <p class="c18">
            <span>CYTIO, se reserva el derecho a modificar los T&eacute;rminos y Condiciones en cualquier momento; se asumir&aacute;
                la aceptaci&oacute;n de los cambios en caso de que se siga utilizando la plataforma (sea la p&aacute;gina web
                o alguna de las aplicaciones) posterior al anuncio de tales modificaciones.</span>
        </p>
        <p class="c7 c10">
            <span class="c3"></span>
        </p>
        <p class="c7">
            <span class="c13 c17 c20">La Plataforma, </span>
            <span class="c8">utiliza cookies con la &uacute;nica finalidad de medir de forma an&oacute;nima datos que permiten mejorar servicios
                y brindar la informaci&oacute;n para desactivarlas es una buena pr&aacute;ctica; &nbsp;la informaci&oacute;n
                recaudada es completamente confidencial y solo se utiliza para fines de medici&oacute;n.</span>
        </p>
        <p class="c7 c10">
            <span class="c8"></span>
        </p>
        <p class="c7">
            <span class="c8">REGLAS Y CONDUCTA DE USO</span>
        </p>
        <p class="c7">
            <span class="c3">Los Usuarios deber&aacute;n someterse a las siguientes reglas, mismas que son de forma enunciativa m&aacute;s no
                limitativa:</span>
        </p>
        <ul class="c0 lst-kix_5m5wkevz8fh2-0 start">
            <li class="c16">
                <span class="c3">No promover de cualquier forma electr&oacute;nica, virus o cualquier transferencia de datos electr&oacute;nicos
                    que tenga el fin de afectar bajo cualquier manera a otros usuarios, la plataforma web o alguna aplicaci&oacute;n
                    de CYTIO.</span>
            </li>
            <li class="c16">
                <span class="c3">No hacerse pasar por otra persona dando datos falsos, entendido como suplantaci&oacute;n de personalidad o creaci&oacute;n
                    de personas inexistentes.</span>
            </li>
        </ul>
        <ul class="c0 lst-kix_1zs6cith1gxi-0 start">
            <li class="c7 c12">
                <span class="c3">El usuario no debe directa o indirectamente:</span>
            </li>
        </ul>
        <ul class="c0 lst-kix_huy2dwp8p8vn-0 start">
            <li class="c4">
                <span class="c3">Interferir o intentar interferir con el funcionamiento adecuado de cualquier plataforma de CYTIO.</span>
            </li>
            <li class="c4">
                <span class="c13">Eludir cualquier medida que las aplicaciones de CYTIO</span>
                <span class="c11">&nbsp;</span>
                <span class="c3">&nbsp;puedan usar para prevenir o restringir el acceso a otras cuentas, sistemas computacionales o redes conectadas
                    a la plataforma, aliados o proveedores);</span>
            </li>
            <li class="c4">
                <span class="c3">Usar cualquier forma de software, aparatos u otros procesos manuales o automatizados para &lsquo;arrastrarse&rsquo;
                    o &lsquo;trepar&rsquo; a cualquier p&aacute;gina del sitio.</span>
            </li>
            <li class="c4">
                <span class="c3">Descifrar, descompilar, desarmar o intentar derivar cualquier c&oacute;digo fuente, ideas subyacentes o algoritmos
                    de cualquier parte de las plataformas.</span>
            </li>
            <li class="c4">
                <span class="c3">Modificar, traducir o crear obras derivativas de cualquier parte de alguna plataforma.</span>
            </li>
            <li class="c4">
                <span class="c3">Copiar, rentar, distribuir o transferir cualquiera de los derechos que usted recibe a trav&eacute;s de este documento.</span>
            </li>
        </ul>
        <p class="c7 c10">
            <span class="c3"></span>
        </p>
        <p class="c7">
            <span class="c3">Debe acatar estos t&eacute;rminos por todas las leyes y regulaciones locales, estatales, nacionales e internacionales
                aplicables.</span>
        </p>
        <p class="c1 c10">
            <span class="c2"></span>
        </p>
        <p class="c1">
            <span class="c14 c11">PAGO</span>
        </p>
        <p class="c1 c10">
            <span class="c5"></span>
        </p>
        <p class="c6">
            <span class="c5">CYTIO es una organizaci&oacute;n sin &aacute;nimo de lucro que pretende favorecer las condiciones de competitividad
                entre servicio de transporte privado y taxis debidamente identificados y avalados por la secretar&iacute;a de
                movilidad.</span>
        </p>
        <p class="c6 c10">
            <span class="c5"></span>
        </p>
        <p class="c6">
            <span class="c5">CYTIO buscar&aacute; la manera de mantener un costo muy bajo o nulo para los choferes, en dado caso de imponer alg&uacute;n
                tipo de tarifa se le har&aacute; saber a todos los choferes antes de que esto les pueda generar alg&uacute;n
                tipo de cargo.</span>
        </p>
        <p class="c6 c10">
            <span class="c5"></span>
        </p>
        <p class="c6">
            <span class="c5">Los choferes se comprometen a mantener tarifas bajas a los usuarios de la aplicaci&oacute;n, CYTIO no pretende inferir
                de ninguna manera en la transacci&oacute;n de pago del servicio. Todo costo generado por el servicio de taxi
                ser&aacute; completamente responsabilidad del chofer.</span>
        </p>
        <p class="c6 c10">
            <span class="c5"></span>
        </p>
        <p class="c6">
            <span class="c5">Es posible que el costo del traslado genere un monto extra ya que los choferes y usuarios generalmente se van a encontrar
                en diferente lugar a distancias considerables as&iacute; que recoger a un usuario en una direcci&oacute;n espec&iacute;fica
                implica costos de tiempo y combustible.</span>
        </p>
        <p class="c1 c10">
            <span class="c5"></span>
        </p>
        <p class="c1">
            <span class="c11 c17">TRANSLADO</span>
            <span class="c5">:</span>
        </p>
        <p class="c1 c10">
            <span class="c5"></span>
        </p>
        <p class="c6">
            <span class="c5">CYTIO no puede obligar a los choferes a cubrir servicios que no cumplan con las condiciones m&iacute;nimas necesarias
                de seguridad. Cada chofer es responsable de el servicio que brinda a los usuarios de la aplicaci&oacute;n. CYTIO
                no se hace responsable de problemas en el servicio brindado por los choferes. De haber alguna queja referente
                al mal servicio es responsabilidad del usuario reportar directamente a las instancias gubernamentales correspondientes
                ya que CYTIO solamente es un enlace entre usuario y chofer.</span>
        </p>
        <p class="c6 c10">
            <span class="c5"></span>
        </p>
        <p class="c6">
            <span class="c5">El chofer no debe participar en actos il&iacute;citos o su cuenta ser&aacute; bloqueada de la plataforma sin previo
                aviso e incluso se dar&aacute; aviso a las autoridades correspondientes para que reciban la sanci&oacute;n correspondiente
                a su falta.</span>
        </p>
        <p class="c1 c10">
            <span class="c5"></span>
        </p>
        <p class="c1">
            <span class="c11 c14">P&Oacute;LIOTICA DE PRIVACIDAD:</span>
        </p>
        <p class="c1 c10">
            <span class="c5"></span>
        </p>
        <p class="c6">
            <span class="c5">Todos los datos de usuarios y choferes podr&aacute;n ser entregados a las autoridades en dado caso de ser requeridos
                por medio de una orden de un juez. Incluso si llegase a haber alg&uacute;n conflicto que de alguna manera involucre
                a la plataforma de manera negativa se analizar&aacute; la gravedad de la falta para determinar si tu informaci&oacute;n
                ser&aacute; entregada a las autoridades sin previo aviso ya que estamos totalmente en contra de conductas nocivas
                tales como de acoso sexual o racismo.</span>
        </p>
        <p class="c6 c10">
            <span class="c5"></span>
        </p>
        <p class="c6">
            <span class="c5">Los datos de los usuarios podr&aacute;n ser usados para estrategias de marketing para financiar la plataforma.</span>
        </p>
    </div>
</body>

</html>